@charset "UTF-8";

:root {

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5;
}

nav {
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.menu-p {
    
    color: white;
}

.menu {

    margin: 0;
    padding: 10px;
    color: white;
}

nav, ul {
    display: flex;
    flex-direction: row;
}

li {
    padding: 0 20px;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

li:hover, 
h1:hover,
button:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);

} 

button:focus ~ ul {
    height:260px
}

@media (max-width: 700px) {
    nav, ul {
        flex-direction: column;
    }
    ul {
        text-align: center;
        margin: 0;
        height: o;
    }
    nav {
        padding: 0;
        align-items: flex-start;
    }
    menu {
        margin: 100px;
    }
    button {
        display: flex;
    }
    li, ul {
        width: 100%;
    }
   
}

body {
    background-color: blue;
}

main {
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: rgb(243, 235, 235);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.818);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;

}

main h1 {
    font-family: var(--font-padrao);
    color: white;
}

main h2 {
    color: white;
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, rgba(34, 34, 214, 0.895), transparent);
    font-family: var(--font-padrao);
    text-indent: 8px;
}


footer {
    background-color: #7a771686;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
    text-align: center;
    font-size: 0.8s;
    padding: 5px;
}