@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    text-align: center;
  }
  
  nav {
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 15vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 50px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
     
    .nav-list {
      position: absolute;
      top: 18vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  body {
    
  }

  main {
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 30px;
    margin: auto ;
    background-color: rgba(255, 255, 255, 0.553);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
  }

  .h2-comp {
    color: white;
    background-color: #23232e;
    padding: 10px;
  }

  .h2-treinos {
    margin: 20px;
  }

 .competiçoes {
   font-family: Arial, Helvetica, sans-serif;
   bottom: 10px;
   margin: 20px;
 }

  .p-img {
    text-align: center;
  }

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1,3em;
  text-indent: 7px;
  padding: 10px;
  
}

 h2 {
   
    font-family: Arial, Helvetica, sans-serif;
     font-weight: normal;
     font-size: 1,3em;
     text-indent: 7px;
     padding: 10px;
     
 }

 main p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
   
 }

 main img {
    background-color: #23232e;
    max-width: 600px;
    width: 100%;
    display: block;
    margin: auto;
    border: 1px solid black;
    border-radius: 1px black;
 }

.masculino {
  min-width: 320px;
  max-width: 1000px;
}

.masculino td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}

.femino {
  max-width: 1000px;
  min-width: 320px;
}

.femino td {
  text-align: center;
  padding: 10px;
  border-collapse: collapse;
  border: 1px solid black;
}
 
tr.linha {
   color: white;
   background-color: #23232e;
 }

 caption {
   font-family: Arial, Helvetica, sans-serif;
   padding: 10px;
   font-weight: bold;
   font-size: 1,5em;
   background-color: #23232e;
   color: white;
 }

 footer > p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #23232e;
  color: white;
  text-align: center;
  font-size: 0.8em;
  height: 5vh;  
 padding: 5px;
   
 }

hr {
  border: 1px solid black;
  border-radius: 5px;
}

.contatos {
  padding: 20px;
  font-size: 20px;
}

main.documentos {
  width: 300px;
}

a {
  color: blue;
}

td {
  padding: 10px;
}

.documentos {
  border-collapse: collapse;
  border: 1px solid black;
}

.emails {
  padding: 20px;
  font-size: 20px;
}
